<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Api Call</title>
</head>
<body>
    <div>
        <form action="{{ url_for('getLanguage') }}" method=post>
            <h3>Get Language</h3>
            {{ getlangform.hidden_tag() }}
            {{ getlangform.text2.label }}
            {{ getlangform.text2 }}<br><br>
            {{ getlangform.submit2 }}
        </form>
        <p>{{ get_language }}</p>
    </div>
    <br><br><br>
    <div>
        <form action = "{{ url_for ('textCluster') }}" method = post>
            <h3>Text Clustering</h3>
            <p>Separate each text with a full stop</p>

                {{ clusterform.hidden_tag() }}
                {{ clusterform.text.label }}
                {{ clusterform.text }}<br>
                {{ clusterform.language.label }}
                {{ clusterform.language }}
                <br><br>
                {{ clusterform.submit }}
                <br>
        </form>
        <p>{{ text_cluster }}</p>
    </div>
</body>
</html>