<html>

<link rel="shortcut icon" href="static/accenture-logo.png">

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <style>
    .base-body {
        width: 100%;
        max-width: 1400px;
        margin-left: 30px;
        /* margin-top: 0px auto; */
      }

    .navbar .navbar-brand{
        margin-left: 50px;
    }
    .navbar-nav > .nav-item{
        margin-left: 10px;
        margin-right: 10px;
    }
    .navbar{
        text-align: center;
        background-color: #4079ad
    }
    </style>

  <!-- {% if title %}
        <title>{{ title }} - 50.003 Project</title>
        {% else %}
        <title>50.003 Project</title>
        {% endif %} -->
</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top navbar-light" id="navbar">
    <a class="navbar-brand text-muted" href="#">
      <img src="/static/accenture-brand.png" width="140px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('ticket') }}">Ticket</a>
        </li>
        <li class="nav-item" id="submissionlink">

        </li>
        <li class="nav-item" id="archivelink">

        </li>
        <li class="nav-item">
          {% if current_user.is_anonymous %}
          <div class="col-md-2" style="text-align: right">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            <!-- </div> -->
            {% else %}
            <!-- <div class="col"> -->
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </div>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %} {% block content %}{% endblock %}
</body>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
  crossorigin="anonymous"></script>
<script>
  var user = {{user}}
  var x = document.getElementById("archivelink");
  if ({{user}} == 1){
    x.innerHTML= '<a class="nav-link" href="{{ url_for('archive') }}">Archive</a>'
   } else {
    x.innerHTML = '<a class="nav-link" href="{{ url_for('profile') }}">Profile</a>'
    }

   var y = document.getElementById("submissionlink");
  if ({{user}} == 1){
    y.innerHTML= '<a class="nav-link" href="{{ url_for('submissions') }}">Submissions<span class="badge">({{ notif }})</span></a>'

   }

</script>

</html>