<html>
    <head>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"          crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
            <style>
                    .base-body {
                      width: 100%;
                      max-width: auto;
                      margin-left: 30px;
                      /* margin-top: 0px auto; */
                    }

            </style>
        <!-- {% if title %}
        <title>{{ title }} - 50.003 Project</title>
        {% else %}
        <title>50.003 Project</title>
        {% endif %} -->
    </head>
    <body>
                <div class = "base-body">
                        <p style="font-size:40px", ><strong>
                        <div clss="container">
                            <div class="row justify-content-md-center">
                                            <div class="col col-lg-2">
                                                50.003 Project:
                                            </div>
                                            <div class="col col-lg-2">
                                            <a href="{{ url_for('index') }}">Home</a>
                                            </div>
                                            <div class="col col-lg-2">
                                            <a href="{{ url_for('ticket') }}">Ticket</a>
                                            </div>
                                            <div class="col col-lg-2">
                                            <a href="{{ url_for('submissions') }}">Submissions</a>
                                            </div>
                                            <div class="col col-lg-2">
                                            </div>
                                            {% if current_user.is_anonymous %}
                                            <div class="col-lg-auto">
                                            <a href="{{ url_for('login') }}">Login</a>
                                            <!-- </div> -->
                                            {% else %}
                                            <!-- <div class="col"> -->
                                            <a href="{{ url_for('logout') }}">Logout</a>
                                            </div>
                                            {% endif %}
                                        </div>                    
                                    </div>
                                    </strong>
                                    </p>
            
                            </div>            
                    <hr>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}

    </body>
</html>