{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <style>
        .register-body {
            width: 100%;
            max-width: 500px;
            margin: 0px auto;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="register-body">
        <p style="font-size:60px"><strong>Forgot?</strong></p>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="form-group col-md-6">

                    {{ form.email(class="form-control", placeholder="Email", size=32) }}

                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            <div class="form-row" style="text-align: center">
                <div>
                    {{ form.submitPassword(class="btn btn-primary", style="margin-left: 15px") }}
                </div>
            </div>



        </form>
    </div>
    {% with messages = get_flashed_messages() %}
    <!-- {% if messages %}
      <script>
        var messages = {{ messages | safe }};
        for (var i=0; i<messages.length; i++) {
            // alert(messages[i]);
        }
       </script>
        {% endif %} -->
    {% endwith %}
</body>

</html>
{% endblock %}