{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<meta charset="UTF-8" />
<html>
<title>Login Page</title>
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
    crossorigin="anonymous"></script>
  <style>
    .login-body {
      width: 100%;
      max-width: 500px;
      margin: 0px auto;
      margin-top: 50px;
    }

    #checkbox{
        padding
    }

  </style>
</head>

<body>
  <div class="login-body">
      <p style="font-size:60px"><strong>Sign In</strong></p>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label>Username</label><br>
            <input class="form-control", type="text" placeholder="Enter Email" name="email" value="{{request.form.username}}", size=64>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label>Password</label><br>
            <!-- {{ form.password(class="form-control", id="password", placeholder="Password", size=64) }} -->
            <input class="form-control", type="password" placeholder="Password" name="password" value="{{request.form.password}}", size=64>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
      </div>
      <div class="form-check", style="margin-bottom: 20px">
        <!-- {{ form.remember_me(id="checkbox", class="form-check-input") }} -->
        <input type="checkbox", class="form-check-input", id="checkbox", value="{{request.form.remember_me}}">
        <label class="form-check-label">Remember me</label>
      </div>
      <div class="row">
          <!-- <div class="col-md-2">
              {{ form.submit(class="btn btn-primary", style="margin-right: 130px") }}
          </div>
            <div class ="col-md-2"></div>
            <div class ="col-md-8">
            <a href="/register" type="Sign Up" class="btn btn-primary">Sign Up</a>
            <button type="forget" class="btn btn-primary" >Forgot Username / Password?</button> -->
         <div class="col">
           <!-- {{ form.submit(class="btn btn-primary", style="margin-right: 85px") }} -->
           <a href="/login", type="Sing In", class="btn btn-primary", id='sign_in', style="margin-right: 85px", value="{{request.form.submit}}">Sign In</a>
           <a href="/register", type="Sign Up", class="btn btn-primary", id='sign_up', value="{{request.form.submit}}">Sign Up</a>
           <button type="forget", class="btn btn-primary", value="{{request.form.submit}}">Forgot Username / Password?</button>
        </div>
      </div>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
      <script>
        var messages = {{ messages | safe }};
        for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
        }
       </script>
        {% endif %}
    {% endwith %}
  </div>
</body>

</html>
{% endblock %}
