{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<meta charset="UTF-8" />

<html>

<script>

    function viewTicket(ticketId) {
        window.open('attachment/' + ticketId, '_blank')
    }
</script>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootsubmissionById.htmlstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .submissionById-body {
            width: 100%;
            max-width: 800px;
            margin: 0px auto;
            margin-top: 50px;
        }

        .row {
            width: 100%;
        }

        div.msg_bbl {
            background-color: #ddd;
            padding: 5px 10px;
            border-radius: 10px;
            color: #555;
            margin-bottom: 5px;
            overflow-wrap: break-word
        }

        pre.sansserif {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>

</head>

<body>
    <div class="submissionById-body">
        <div class="row" height="80">
            <div class="form-group col-md-10">
                <h1>Ticket</h1>
            </div>
            <div class="form-group col-md-2">
                <h1>
                    <form action="" method="post">
                        {{ form2.hidden_tag() }}
                        <div class="form-group">
                            {{ form2.resolve(class="btn btn-primary", value="Resolve", style="width: 108.2px; height:
                            39px" )}}
                        </div>
                    </form>
                </h1>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6">
                <label><b>ID</b></label>
                <div class="form-control">
                    <p><b>{{ tickets.id }}</b></p>
                </div>
            </div>
            <div class="form-group col-md-4" style="visibility:hidden"></div>
            <div class="form-group col-md-2">
                <label><b>Attachment</b></label>
                <div>
                    <button class="btn btn-info" onclick="viewTicket('{{tickets.id}}')" target="_blank">Attached
                        File</button>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label><b>Client</b></label>
                <div class="form-control">
                    <p><strong></strong> {{ tickets.name }} </strong></p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label><b>Type</b></label>
                <div class="form-control">
                    <p><strong></strong> {{ tickets.options }} </strong></p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label><b>Status</b></label>
                <div class="form-control">
                    <p><strong></strong> {{ tickets.status }} </strong></p>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label><b>Date</b></label>
                <div class="form-control">
                    <p><strong></strong> {{ tickets.date }} </strong></p>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="form-group col-md-5">
                <label><b>Attachment</b></label>
                <div id="attach">
                </div>
            </div>
            <div class="form-group col-md-3" style="visibility:hidden"></div>
        </div> -->


        <div class="row">
            <div class="form-group col-md-12">
                <label><b>Details</b></label>
                <div class="form-control">
                    <p><strong></strong> {{ tickets.details }} </strong></p>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="form-group col-md-12">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <label><b>Reply</b></label>
                    {{ form.replytext(class="form-control", id="details", rows="10") }}
            </div>
        </div> -->

        <!-- chat function -->
        <div class="container row">
            <div class="col-md-12">
                <div class="no_message">
                    <div class="message_holder">
                        {% for message in messages %}
                        <div class="msg_bbl"><b style="color: #000">{{message.username}} </b>
                            <br />
                            <pre class="sansserif">{{message.message}}</pre>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <b>Type your message below <span class="glyphicon glyphicon-arrow-down"></span></b>
                <!-- <div style="padding-top: 5px;"></div> -->
                <textarea id="text_area" class="message form-control" style="overflow-wrap: break-word" rows="5"
                    placeholder="Messages"></textarea>
                <!-- <div class="form-group col-md-6" style="padding-top: 5px;"></div> -->
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <button id="send_button" type="submit" class="btn btn-primary btn-block">Send</button>
            </div>
            <div class="form-group col-md-4"></div>
            <div class="form-group col-md-4">
                <button onclick="goBack()" class="btn btn-secondary btn-block">Back</button>
            </div>
        </div>
        <!-- end of chat function -->


    </div>
</body>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>var image = ("{{tickets.upload}}")</script>
<script>
    var attach = document.getElementById('attach')
    console.log(image.length);
    if (image.length > 100) {
        attach.innerHTML = "<button class=\"btn btn-info\" onclick=\"viewTicket(\'{{tickets.id}}\')\" target=\"_blank\">View Attached File</button>"
    } else {
        attach.innerHTML = "<p>No Attachment</p>"
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script>

    var socket = io.connect('http://' + document.domain + ':' + location.port)
    // broadcast a message
    socket.on('connect', function () {
        $('#send_button').click(function () {
            let user_name = '{{ user.username }}'
            let user_input = $('#text_area').val()
            console.log('sending message')
            // message = ''
            if (user_input == "") {
                return
            } else {
                socket.emit('message', {
                    user_id: '{{ user.id }}',
                    user_name: user_name,
                    message: user_input,
                    ticket_id: '{{ tickets.id }}'
                })
            }

            // empty the input field
            $('#text_area').val('').focus()
        })
    })
    // capture message
    socket.on('my response', function (msg) {
        console.log(msg)
        if (typeof msg.user_name !== 'undefined') {
            // $('h1').remove()
            $('div.message_holder').append('<div class="msg_bbl"><b style="color: #000">' + msg.user_name + '</b> ' + '<br />' + '<pre class="sansserif">' + msg.message + '</pre>' + '</div>')
        }
    })



    // function navigateBack() {
    //     let user_name = '{{ user.username }}'
    //     if (user_name = 'admin') {
    //         window.location.href = href = "{{ url_for('submissions') }}";
    //     } else {
    //         window.location.href = href = "{{ url_for('profile') }}";

    //     }
    // }

    function goBack() {
        window.history.back();
    }
</script>

</html>

{% endblock %}