{% extends "base.html" %}

{% block content %}
  <h1>Submissions</h1>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Category</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Type1</td>
          <td>Category1</td>
          <td>Details1</td>
        </tr>
        <tr>
          <td>Type2</td>
          <td>Category2</td>
          <td>Details2</td>
        </tr>
        <tr>
          <td>Type3</td>
          <td>Category3</td>
          <td>Details3</td>
        </tr>
      </tbody>
    </table>
{% endblock %}
