{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
        
<head>      
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"          crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <style>
            .ticket-body {
              width: 100%;
              max-width: 500px;
              margin: 0px auto;
              margin-top: 50px;
            }
            .row{
                width:100%;
            }

    </style>   
</head>

<body>
    <div class = "ticket-body">
        <p style="font-size:59px"><strong>Ticket Submission</strong></p>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <div class="form-group">
                <label>Ticket Type</label>
              {{form.options(placeholder="--select--", class="form-control", id="exampleFormControlSelect1")}}
            </div>
            <div class="form-group">
                <label>Title</label>
                {{form.title(class="form-control", id="title", maxlength="100")}}
            </div>
            <div class="form-group">
                <label>Details</label>
                {{form.details(class="form-control", id="Details", rows="10")}}
            </div>
            <div class="row">
                <div class="uploadFile col-md-2">
                    {{form.submit(class="btn btn-primary", align="left")}}
                </div>
                <div class="uploadFile col-md-5" style="margin-left: auto">
                    {{form.file(class="custom-file-input")}}
                    <label class="custom-file-label">Choose file</label>
                    <font size="0.5"><label class="form-text text-muted">* JPG, PNG, PDF</label></font>
                </div>
            </div>

        </form>
    </div>
</body>
</html>

{% endblock %}
