{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
        
<head>      
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"          crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <style>
            .ticket-body {
              width: 100%;
              max-width: 500px;
              margin: 0px auto;
              margin-top: 50px;
            }

    </style>   
</head>

<body>
        <div class = "ticket-body">
                <p style="font-size:60px"><strong>Ticket Submission</strong></p>    
        <form action="" method="post" novalidate>
                <div class="form-group">
                  <label>Ticket Options</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                   <option>Select...</option>
                   <option>Query</option>
                   <option>Feedback</option>
                   <option>Suggestion</option>
                   <option>Others</option>
                  </select>
              </div>
              <div class="form-group">
                  <label>Category</label>
                  <select class="form-control" id="exampleFormControlSelect2">
                    <option>Layout</option>
                    <option>Function</option>
                    <option>Account</option>
                    <option>Others</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Details">Details</label>
                  <textarea class="form-control" id="Details" rows="10"></textarea>
                </div>
                <div class="uploadFile col-md-5" style="margin-left: auto">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                        <font size="0.5"><label class="form-text text-muted" align="right">* JPEG, PNG, PDF</label></font>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
</body>
</html>

{% endblock %}
